@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding:0;
    color:white;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    
}

header{
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: black;
    position:fixed;
    top:0;
    z-index: 1000;
    transition: .3s;
}

header .text{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

header .top{
    display: flex;
    flex-direction: row;
}
header .bottom{
    display: flex;
    flex-direction: row;
}

header .text p{
    margin-right: 25px;
    margin-left: 25px;
    transition: color 0.3s ease;
}

header .text a:hover{
    color:rgb(98, 206, 248);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    transition: color .3s;
    cursor: pointer;
}

body{
    background-color: #6C7D9E;
    padding-top: 100px;
}

.Intro{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}

.Intro .left{
    text-align: left;
    width: 80%;
    margin-top: 100px;
}

.Intro .left h1{
    margin-bottom: 8px;
}

.Intro .left h3{
    margin-bottom: 10px;
}

.Intro button{
    padding: 12px;
    border-radius: 12px;
    background: linear-gradient(to bottom right, #7dd1cd, #1c75bd);
    box-shadow: 0 10px 15px -3px black,0 4px 6px -4px black;
    margin-top: 30px;
    border: none;
}

.Intro button:hover{
    cursor: pointer;
    border: white;
    border: solid;
    border-width: 2px;
}

.Intro button:focus{
    border: none;
}

.Intro .right img{
    max-width: 90%;
    max-height: 90%;
}


.About{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1779C9;
    width: 100%;
}

.About .left{
    width: 50%;
    padding-left: 100px;
    padding-right: 25px;
}

.About .right{
    padding-left: 50px;
    width: 50%;
}

.About .right p{
    background-color: grey;
    padding: 5px 12px 5px 12px;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgb(4, 26, 59),0 4px 6px -4px rgb(7, 23, 59);
    margin-bottom: 20px;
    margin-right: 4%;
    align-content: center;
}

.About .right .row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Projects{
    padding-top: 100px;
    padding-right: 20px;
}

.Projects h1{
    padding-left: 100px;
}

.Projects .project{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 50px;
}

.Projects .project .image{
    width: 50%;
    align-content: center;
}

.Projects .project .image img{
    width: 100%;
}

.Projects .project .text{
    width: 50%;
}


.Qual{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.Qual .left{
    width: 52%;
}

.Qual .right{
    width: 48%;
    padding-left: 20px;
    padding-right: 40px;
}

.Qual .Testimonial{
    margin-bottom: 40px;
}

.Qual h1{
    margin-bottom: 20px;
}

.Qual span{
    color: #20D1A1;
}

.Qual .container .uni{
    display: flex;
}

.Qual .container .college{
    display:  flex;
}

.Qual .container .school{
    display: flex;
}

.Qual .link{
    margin-left: 70px;
}

.Qual .text{
    margin-top: 40px;
    margin-left: 25px;
}

.Contact{
    align-items: center;
    text-align: center;
    place-items: center;
}
.Contact .header{
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.Contact .message{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    background: linear-gradient(to bottom right, #84cfcc, #3478b1);
    box-shadow: 0 10px 15px -3px black,0 4px 6px -4px black;
    background-color: #b7cfd4;
    padding-bottom: 20px;
}

.Contact .layer1{
    margin-top: 40px;
    display: flex;
}

.Contact .layer2{
    margin-top: 20px;
    display: flex;
}

.Contact .layer3{
    margin-top: 20px;
}

.Contact .layer4{
    margin-top: 20px;
    margin-bottom: 20px;
}

.Contact .left{
    width: 50%;
    margin-left: 5.5%;
}

.Contact .right{
    width: 50%;
    margin-right: 5.5%;
}

.Contact input{
    background-color: whitesmoke;
    border: none;
    border-radius: 6px;
    height: 40px;
    box-shadow: 0 10px 15px -3px black,0 4px 6px -4px black;
    padding: 12px;
    width: 80%;
    color: #000;
}

.Contact textarea{
    background-color: whitesmoke;
    color: #000;
    border: none;
    border-radius: 6px;
    height: 150px;
    box-shadow: 0 10px 15px -3px black,0 4px 6px -4px black;
    padding: 12px;
    width: 80%;
    resize:none;
}

.Contact input[type="submit"]{
    color: white;
    background-color: #000000;
    width: 80%;
    font-size: 90%;
    box-shadow: 0 10px 15px -3px rgb(39, 37, 37),0 4px 6px -4px rgb(31, 29, 29);
}

.Contact input[type="Submit"]:hover{
    cursor: pointer;
    border: white;
    border: solid;
    border-width: 1px;
}

.Contact input[type="Submit"]:focus{
    background-color: #2c3035;
    box-shadow: none;
    border: none;
}

footer{
    padding-top: 100px;
}

@media(max-width: 900px){
    .Intro{
        margin-bottom: 100px;
        margin-left: 20px;
    }
    .Intro .right img{
        display: none;
    }
    .Intro .left{
        width: 100%;
    }
    .About{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .About .left{
        margin-bottom: 50px;
        width: 100%;
        padding-left: 20px;
    }
    .About .right{
        padding-left: 20px;
        width: 100%;
    }
    .About .right .row{
        display: flex;
        flex-direction: row;
    }
    .Projects{
        padding-left: 20px;
    }
    .Projects .project{
        flex-direction: column;
    }
    .Projects .project .image{
        width: 100%;
    }
    .Projects .project .text {
        width: 100%;
    }
    .Qual{
        flex-direction: column;
        padding-left: 20px;
    }
    .Qual .left{
        width: 100%;
    }
    .Qual .right{
        padding-right: 20px;
        margin-top: 50px;
        width: 100%;
    }
    .Contact .message .layer1{
        flex-direction: column;
    }
    .Contact .message .layer2{
        flex-direction: column;
    }
    .Contact .right{
        width: 100%;
        margin-top: 20px;
    }
    .Contact .left{
        width: 100%;
        margin-left: -.00000001%;
    }
}
@media(min-width: 1400px ){
    .Intro h1{
        margin-top: 110px;
        transition: .3s;
    }
    .Projects .project .text{
        margin-top: 110px;
        transition: .3s;
        padding-right: 50px;
    }
}
@media(max-width: 1400px){
    .Intro h1{
        transition: .3s;
    }
    .Projects .project .text{
        transition: .3s;
    }
}
@media(max-width: 570px){
    header{
        background-color: #000;
        height: 90px;
        transition: .3s;
    }
    header .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header .bottom{
        padding-top: 10px;
        margin-left: -2%;
    }

}